body {
	background-image: url("../images/train-image.jpg");
	background-size: 145%;
}

#titleHeader {
	background-color: #802b00;
	color: #fff;
}

#panelBoarder {
	border: solid;
	border-color: #008ae6;
}

#panelHeader {
	background-color: #008ae6;
	color: #fff;
}

#pMargin {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 2%;
	padding-left: 2%;
}
